<div>
    ЗАКАЗ НОМЕР: <span style="background-color:yellow;"
                       ng-bind="$ctrl.orderInformation.Order._id.substring(18, 25)"></span>

    <div>
        Цена заказа <span style="background-color:chartreuse;" ng-bind="$ctrl.orderInformation.Order.TotalPrice"></span>
        (количество позиций <span style="background-color:darkgoldenrod;"
                                  ng-bind="$ctrl.orderInformation.Order.items.length"></span>)
    </div>


    <div>


        Статус заказа {{$ctrl.orderInformation.Order.state.Name}}
        <md-button class="md-raised md-primary" ng-click="makeOrder()"
                   ng-if="($ctrl.currentUser!=undefined) && $ctrl.orderInformation.Order.state.Name=='New' && $ctrl.orderInformation.Order.items.length>0">
            Сделать заказ
        </md-button>
    </div>


    <md-content>
        <md-list-item class="md-3-line" ng-repeat="singleItem in $ctrl.orderInformation.Order.items  track by $index">
            <img ng-src="{{singleItem.item.image}}" class="md-avatar" alt="{{singleItem.item.title}}">

            <div class="md-list-item-text" layout="column">
                <h3>{{singleItem.item.title}}</h3>
                <h5>{{singleItem.item.ingredients.toString() }}</h5>
                <p> {{singleItem.item.price}}</p>
            </div>

            <md-button class="md-raised md-primary" ng-click="removeFromOrder(singleItem)">Удалить</md-button>

        </md-list-item>
        <md-divider></md-divider>

    </md-content>

</div>

<div layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-if="$ctrl.orderAllData">

    <div flex-gt-sm="100" flex="">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Предыдущие заказы</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex="" ng-repeat="order in allUserOrders ">
                <md-subheader class="md-no-sticky">{{order.state.Name}} {{order._id}} | {{order.TotalPrice}}
                </md-subheader>
                <md-list-item class="md-3-line" ng-repeat="orderItem in order.items track by $index">
                    <img ng-src="{{orderItem.item.image}}" class="md-avatar" alt="{{orderItem.item.title}}">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{orderItem.item.title}}</h3>
                        <h5>{{orderItem.item.ingredients.toString() }}</h5>
                    </div>

                </md-list-item>
                <md-divider></md-divider>

            </md-list>
        </md-content>
    </div>

    <md-divider></md-divider>


</div>

