.hint {

    font-size: 12px;
    line-height: 14px;
    text-align: right;
    padding-right: 150px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: chartreuse;
}
